---
language: python
python: "2.7.13"
sudo: required

services:
  - docker
install:
  - pip install pipenv
  - pipenv install -r test-requirements.txt --python 2.7
env:
  matrix:
    - INSTANCE: debian8
    - INSTANCE: debian9
    - INSTANCE: ubuntu1604
script:
  - pipenv run molecule test -s ${INSTANCE}-oraclejdk"
  - pipenv run molecule test -s ${INSTANCE}-openjdk"

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
