[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==6.0.0"
ansible-lint = "==6.3.0"
molecule = "==4.0.0"
molecule-docker = "==1.1.0"
docker = "==5.0.0"
rich = "==12.5.1"

[dev-packages]

[requires]
python_version = "3.9"
