---

- name: Java | Set JAVA_HOME fact
  set_fact:
    java_home: "{{ java_open_jdk_home }}"

- name: Java | Check Debian Release
  set_fact:
    debian_release: "{{ (ansible_distribution in [ 'Debian' ] and ansible_distribution_major_version == '8') | ternary('jessie-backports','stretch') }}"

- name: Java | Debian repo key
  apt_repository:
    repo: "{{ java_repo_openjdk }} {{ debian_release }} main"
  when: ansible_distribution in [ 'Debian' ]

- name: Java | Installing dependencies
  apt:
    pkg: "{{ item }}"
    update_cache: yes
    state: present
    default_release: "{{ debian_release }}"
  with_items: "{{ java_required_libs_openjdk }}"
  when: ansible_distribution in [ 'Debian' ]

- name: Java | Installing dependencies
  apt:
    pkg: "{{ item }}"
    update_cache: yes
    state: present
  with_items: "{{ java_required_libs_openjdk }}"
  when: ansible_distribution in [ 'Ubuntu' ]

- name: Java | Install Java
  apt:
    name: "openjdk-{{ item }}-jdk"
    state: present
    update_cache: yes
    default_release: "{{ debian_release }}"
  with_items: "{{ java_open_jdk_version }}"
  when: ansible_distribution in [ 'Debian' ]

- name: Java | Install Java
  apt:
    name: "openjdk-{{ item }}-jdk"
    state: present
    update_cache: yes
  with_items: "{{ java_open_jdk_version }}"
  when: ansible_distribution in [ 'Ubuntu' ]

- name: Java | Update Env
  alternatives:
    name: java
    path: "/usr/lib/jvm/java-{{ java_open_jdk_set_version }}-openjdk-amd64/jre/bin/java"

- name: Java | Ensure Defaults on etc/alternatives systems
  file:
    src: /usr/lib/jvm/java-{{ java_open_jdk_set_version }}-openjdk-amd64
    dest: /usr/lib/jvm/default-java
    force: yes
    state: link

- name: Java | Export environment variables
  template:
    src: jdk.sh.j2
    dest: /etc/profile.d/jdk.sh

- name: Java | Source environment variables
  shell: source /etc/profile
  args:
    executable: /bin/bash
  changed_when: false
  tags:
    skip_ansible_lint
